<div class="container">
  <form [formGroup]="searchForm">
    <mat-card class="shipping-card">

      <!--      Titulo-->
      <mat-card-header>
        <mat-card-title>Flights Search</mat-card-title>
      </mat-card-header>

      <!--Control animacion-->
      <mat-card-content>
        <mat-vertical-stepper [linear]="false" [animationDuration]="'500'">

          <!--        Input Origin-->
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Origin <i class="fa-solid fa-plane-departure"></i></ng-template>
              <mat-form-field>
                <input #inputOrigin
                       matInput
                       placeholder="departure"
                       formControlName="firstCtrl"
                       required maxlength="3"
                       [formControl]=" myControl"
                       [matAutocomplete]="autoOrigin"
                       style="text-transform:uppercase;">
              </mat-form-field>
            </form>
          </mat-step>

          <!--        Input Destination-->
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Destination <i class="fa-solid fa-plane-arrival"></i></ng-template>
              <mat-form-field>
                <input #inputDestination
                       matInput
                       placeholder="arrival"
                       formControlName="secondCtrl"
                       required maxlength="3"
                       [formControl]=" myControl"
                       [matAutocomplete]="autoDestination"
                       style="text-transform:uppercase;">
              </mat-form-field>

            </form>
          </mat-step>





          <!--          Autocompletador Origin-->
          <mat-autocomplete #autoOrigin="matAutocomplete">
            <mat-option *ngFor="let option of optionsOrigin" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>

          <!--          Autocompletador Destination-->
          <mat-autocomplete #autoDestination="matAutocomplete">
            <mat-option *ngFor="let option of optionsDestination" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>


        </mat-vertical-stepper>
      </mat-card-content>



      <!--Boton Search-->
      <mat-card-actions>
        <button
          (click)="showResults()"
          (click)="repeatValidation(inputOrigin.value, inputDestination.value)"
          (click)="getInputOrigin(inputOrigin.value)"
          (click)="getInputDestination(inputDestination.value)"



          mat-raised-button
          color="primary"
          type="submit">
          Search
        </button>
      </mat-card-actions>
<!--      (click)="getInputMaxFlights(numberFlights.value)"-->
    </mat-card>
  </form>

  <!--  Mostrar componente results-->
  <div *ngIf="elementResult == true">
    <div class="app-results">
      <app-results></app-results>
    </div>
  </div>
</div>

