<div class="container">
  <form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Flights Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'500'">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">

              <ng-template matStepLabel>Origin <i class="fa-solid fa-plane-departure"></i></ng-template>

              <mat-form-field>
                <input matInput
                       placeholder="departure"
                       formControlName="firstCtrl"
                       required maxlength="3"
                       #searchOrigin
                       [formControl]=" myControl"
                       [matAutocomplete]="auto"
                       style="text-transform:uppercase;">
              </mat-form-field>



            </form>
          </mat-step>


          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Destination <i class="fa-solid fa-plane-arrival"></i></ng-template>
              <mat-form-field>
                <input matInput
                       placeholder="arrival"
                       formControlName="secondCtrl"
                       required maxlength="3"
                       [formControl]=" myControl"
                       [matAutocomplete]="auto"
                       style="text-transform:uppercase;">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </mat-step>

          <form class="origin">
            <mat-form-field class="origin-full-width" appearance="fill">
              <mat-label>Origin</mat-label>
              <input type="text"
                     placeholder="City"
                     aria-label="Number"
                     maxlength="3"
                     matInput

                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        </mat-vertical-stepper>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="getOrigin(searchOrigin.value)" mat-raised-button color="primary" type="submit">Search</button>
      </mat-card-actions>
    </mat-card>

  </form>
  <div class="class"><app-results></app-results></div>
</div>











<!--<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">-->
<!--  <mat-card class="shipping-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Shipping Information</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="Company" formControlName="company">-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="First name" formControlName="firstName">-->
<!--            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">-->
<!--              First name is <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="Last name" formControlName="lastName">-->
<!--            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">-->
<!--              Last name is <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <textarea matInput placeholder="Address" formControlName="address"></textarea>-->
<!--            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">-->
<!--              Address is <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row" *ngIf="!hasUnitNumber">-->
<!--        <div class="col">-->
<!--          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">-->
<!--            + Add C/O, Apt, Suite, Unit-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row" *ngIf="hasUnitNumber">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput placeholder="City" formControlName="city">-->
<!--            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">-->
<!--              City is <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <mat-select placeholder="State" formControlName="state">-->
<!--              <mat-option *ngFor="let state of states" [value]="state.abbreviation">-->
<!--                {{ state.name }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--            <mat-error *ngIf="addressForm.controls['state'].hasError('required')">-->
<!--              State is <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-form-field class="full-width">-->
<!--            <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">-->
<!--            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <mat-radio-group formControlName="shipping">-->
<!--            <mat-radio-button value="free">Free Shipping</mat-radio-button>-->
<!--            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>-->
<!--            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>-->
<!--          </mat-radio-group>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-raised-button color="primary" type="submit">Submit</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</form>-->
