<div class="container">
  <form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Flights Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'500'">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Origin</ng-template>
              <mat-form-field>
                <input matInput
                       placeholder="departure"
                       formControlName="firstCtrl"
                       required maxlength="3"
                       [formControl]=" myControl"
                       [matAutocomplete]="auto"
                       style="text-transform:uppercase;">
              </mat-form-field>
              <div>
              </div>
            </form>
          </mat-step>


          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Destination</ng-template>
              <mat-form-field>
                <input matInput
                       placeholder="arrival"
                       formControlName="secondCtrl"
                       required maxlength="3"
                       [formControl]=" myControl"
                       [matAutocomplete]="auto"
                       style="text-transform:uppercase;">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </mat-step>

          <form class="origin">
            <mat-form-field class="origin-full-width" appearance="fill">
              <mat-label>Origin</mat-label>
              <input type="text"
                     placeholder="City"
                     aria-label="Number"
                     maxlength="3"
                     matInput

                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        </mat-vertical-stepper>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Search</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>


